*{
    margin: 0;
    padding: 0;
}

table,th,td{
    border: 1px solid black;
    color: black;
    background: #fff;
}

th,td {
    padding: 5px;
}


.table {
    margin: 30px 0;
    font-size: 1.5rem;
}




.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    padding: 15px;
}

.navbar h1 {
    font-size:50px;
    margin: 0 30px;
    color: white;
}

.navbar-link{
    display: flex;
    align-items: center;
    position: relative;
    right: 50px;
    justify-content: space-between;
    gap: 30px;
    font-weight: bold;
    font-size: medium;
    color: white;
}

.navbar-link a {
    text-decoration: none;
    color: white;
}

.navbar-link a:hover {
    color: lightblue;
}

.navbar-button button {
    display: flex;
    align-items: center;
    color: black;
    font-size: medium;
    font-weight: bold;
    padding: 10px 15px;
    background: white;
    border-radius: 40px;
    border: none;
    position: relative;
    right: 20px;
}

.navbar-button button:hover {
    color:blue;
}

.header {
    background-image: url(https://images.pexels.com/photos/1335077/pexels-photo-1335077.jpeg);
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.header-text {
    margin: 200px;
    position: relative;
    right: 80px;
    bottom: 70px;
}
.header p {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 60px;
    max-width: 500px;
    letter-spacing: 0.4rem;
    margin-top: 20px;
}

.header-text span {
    font-size: large;
    color: white;
}

.header button {
    display: flex;
    padding: 15px 40px;
    background: rgb(216, 46, 46);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
}

.header button:hover {
    background:  rgb(255, 92, 92);
}

.section-sub {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 100px;
    row-gap: 30px;
}

.section h1 {
    color: black;
    margin: 50px 10px;
}

.card button {
    display: flex;
    padding: 10px 25px;
    background: rgb(216, 46, 46);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.card button:hover {
    background:  rgb(255, 92, 92);
}

.main-video {
    position: relative;
    left: 50px;
    width: 90%;
    object-fit: cover; 
    z-index: -1;
    margin: 40px 0;
}

.main h1 {
    font-weight: bold;
}

.main span {
    font-size: 20px;
   
}

.footer {
    background-color: #002b51;
    margin: 100px 0;
    color: white;
}

.footer h1 {
      padding: 30px 0;
}
.footer span {
    margin: 30px 10px;
}

.footer-text {
    letter-spacing: 0.1rem;
    line-height: 30px;
    margin: 30px;
}

.footer-icon img {
   margin: 20px;
}

.footer-icon {
    padding-bottom: 20px;
}

